# 3 Set Theory for SQL Joins

In this chapter, you will learn about using set theory operations in SQL, with an introduction to UNION, UNION ALL, INTERSECT, and EXCEPT clauses. Youâ€™ll explore the predominant ways in which set theory operations differ from join operations.

# UNION vs. UNION ALL

Nice work learning all about UNION and UNION ALL!

Two tables, languages and currencies, are provided. Run the queries provided in the console and select the correct answer for the multiple-choice questions in this exercise.

# Instructions:

## Question
What result will the following SQL query produce?

In [ ]:
SELECT * 
FROM languages
UNION
SELECT * 
FROM currencies;
Possible answers

( ) All records from both tables, dropping duplicate records (if any)

(x) A SQL error, because languages and currencies do not have the same number of fields

( ) A SQL error, because languages and currencies do not have the same number of records

##  Question
What result will the following SQL query produce?

In [ ]:
SELECT code FROM
languages
UNION ALL
SELECT code FROM 
currencies;

( ) An ordered list of each country code in languages and currencies, including duplicates

( ) An ordered list of each unique country code in languages and currencies

(x) An unordered list of each country code in languages and currencies, including duplicates

( ) An unordered list of each unique country code in languages and currencies

## Question
What will the following SQL query produce?

In [ ]:
SELECT code 
FROM languages
UNION
SELECT curr_id 
FROM currencies;

( ) An empty result

( ) A stacked list of every curr_id from currencies and every code from languages

(x) A SQL error, because code and curr_id are not of the same data type

( ) A SQL error, because code and curr_id do not have the same name

# Comparing global economies

Are you ready to perform your first set operation?

In this exercise, you have two tables, economies2015 and economies2019, available to you under the tabs in the console. You'll perform a set operation to stack all records in these two tables on top of each other, excluding duplicates.

When drafting queries containing set operations, it is often helpful to write the queries on either side of the operation first, and then call the set operator. The instructions are ordered accordingly.

# Instructions:

- Begin your query by selecting all fields from economies2015.
- Create a second query that selects all fields from economies2019.
- Perform a set operation to combine the two queries you just created, ensuring you do not return duplicates.

In [ ]:
-- Select all fields from economies2015
SELECT *  
FROM economies2015     
-- Set operation
UNION
-- Select all fields from economies2019
SELECT *
FROM economies2019
ORDER BY code, year;

# Comparing two set operations

You learned in the video exercise that UNION ALL returns duplicates, whereas UNION does not. In this exercise, you will dive deeper into this, looking at cases for when UNION is appropriate compared to UNION ALL.

You will be looking at combinations of country code and year from the economies and populations tables.

# Instructions:

- Perform an appropriate set operation that determines all pairs of country code and year (in that order) from economies and populations, excluding duplicates.
- Order by country code and year.

In [ ]:
-- Query that determines all pairs of code and year from economies and populations, without duplicates
SELECT code, year
FROM economies
UNION 
SELECT country_code, year
FROM populations
ORDER BY code, year;

- Amend the query to return all combinations (including duplicates) of country code and year in the economies or the populations tables.

In [ ]:
SELECT code, year
FROM economies
-- Set theory clause
UNION ALL
SELECT country_code, year
FROM populations
ORDER BY code, year;

# NTERSECT
Well done getting through the material on INTERSECT!

Let's say you are interested in those countries that share names with cities. Use this task as an opportunity to show off your knowledge of set theory in SQL!

# Instructions:

- Return all city names that

In [ ]:
-- Return all cities with the same name as a country
SELECT name
FROM cities
INTERSECT
SELECT name
FROM countries;

# Review UNION and INTERSECT

Which of the following definitions of set operations is correct?

# Possible Answers

(x) UNION: returns all records (potentially duplicates) in both tables

( ) UNION ALL: returns only unique records

( ) INTERSECT: returns only records appearing in both tables

( ) None of the above definitions are correct.

# You've got it, EXCEPT...

Just as you were able to leverage INTERSECT to find the names of cities with the same names as countries, you can also do the reverse, using EXCEPT.

In this exercise, you will find the names of cities that do not have the same names as their countries.

# Instructions:

- Return all cities that do not have the same name as a country.

In [ ]:
-- Return all cities that do not have the same name as a country
SELECT name 
FROM cities
EXCEPT
SELECT name
FROM countries
ORDER BY name;